@font-face {
    font-family: 'Bodoni Moda', serif;
    src: url(https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap);
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
}
*{
    padding: 0;
    margin: 0;
}
.WebContainer{
    width: 100%;
    height: auto;
}
.articles{
    width:90%; /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
} 
body{
    background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)),url(bday.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
h2{  
    position: relative;
    font-size: 5vw;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.3vw #ffffff;
    text-transform: uppercase;
}
h2::before
{
    content: attr(data-text);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #cb71ff;
    -webkit-text-stroke: 0vw #b574ff;
    border-right: 2px solid transparent;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}
.container{
    padding: 3em;
    perspective: 1000px;
}
.card{
    width: 390px;
    height: 380px;
    position: fixed;
    top: 0px;
    left: 100px;
    transition: 3s;
    transform-style: preserve-3d;
    margin-left: auto;
}
.card:hover{
    transform: rotateY(180deg)
}
.block{
    position: absolute;
    top: 0px;
    right: 110px;
    perspective: 800px;
}
.outside,.inside{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    padding: 1.5rem;
}
.outside{
    background-color: transparent;
    box-shadow: 5px 5px 30px rgb(255, 255, 255);
    position: absolute;
    backface-visibility: hidden;
    transform: rotateX(0deg);
}
.outside h1{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'rogue script', serif;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
}
.inside{
    background-color: transparent;
    box-shadow: 10px 10px 30px rgb(255, 255, 255);
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transform: rotateX(0deg);
}
.inside h3{
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    font-family: 'Bodoni Moda', serif;
    margin-top: 10px;
}
.frames{
    width: 350px;
    height: 145px;
    box-shadow: 10px 10px 30px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    padding: 0 0.8rem;
    margin-right: auto;

    transform: rotate3d(200deg);
}
.frames img{
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 10px 10px 50px rgb(215, 112, 255);
}
.frames p{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    font-style: oblique;
}
.frames:nth-child(1)
{
    top: -110px;
    z-index: -1;
    background-color: transparent;
}
.frames:nth-child(2)
{
    background-color: transparent;
}
.frames:nth-child(3)
{
    background-color: transparent;
}
div.change{
    display: none;
    margin-left: 20px;
}
div.header h2:hover + div.change{
    display: block;
    width: 120px;
    width: 120px;
}
